

<section class="order-form my-4 mx-4">
<div class="container pt-4">

  <div class="row">
    <div class="col-12">
      <h1>You can order your own design product</h1>
      <hr class="mt-1">
    </div>
    <div class="col-12">

    <%= form_with(model: own_design_product, local: true) do |form| %>

      <div class="row  mt-3 mx-4">
        <div class="col-mb-12">
          <label class="order-form-label">Name</label>
        </div>
        <div class="col-md-12">
        <%= form.text_field :name, class: "order-form-input" %>
        </div>
      </div>

      <div class="row mt-3 mx-4">
        <div class="col-12">
          <label class="order-form-label">Size</label>
        </div>
        <div class="col-12">
        <%= form.text_field :size, class: "order-form-input" %>
        </div>
      </div>

      <div class="row mt-3 mx-4">
        <div class="col-12">
          <label class="order-form-label">Price</label>
        </div>
        <div class="col-12">
        <%= form.number_field :price, class: "order-form-input" %>
        </div>
      </div>

      <div class="row mt-3 mx-4">
        <div class="col-12">
          <label class="order-form-label">color</label>
        </div>
        <div class="col-12">
        <%= form.color_field :color, class: "order-form-input" %>
        </div>
      </div>

      <div class="row mt-3 mx-4">
        <div class="col-12">
          <label class="order-form-label">Image Upload</label>
        </div>
        <div class="col-12">
        <%= form.file_field :images,multiple: true, class: "order-form-input" %>
        </div>
      </div>

      <div class="row mt-3 mx-4">
        <div class="col-12">
          <label class="order-form-label" for="date-picker-example">Target Date</label>
        </div>
        <div class="col-12">
            <%= form.date_select :targetdate, class: "datepicker", id: "date-picker-example" %>
        </div>
      </div>


      <div class="row mt-3 mx-4">
        <div class="col-12">
          <label class="order-form-label" for="date-picker-example">Description</label>
        </div>
        <div class="col-12">
            <%= form.text_area :description, class: "order-form-input" %>
        </div>
      </div>
     

      

      <div class="row mt-3 mx-4">
        <div class="col-12">
        <%= form.submit class: "btn btn-dark d-block mx-auto btn-submit" %>
        <%= link_to 'Back', own_design_products_path, class: "ml-4" %>
        </div>
    
      </div>

    </div>
  </div>
  <%end%>
</div>
</section>


<style>

.order-form .container {
  color: #4c4c4c;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}
</style>



<script>

$('.datepicker').pickadate();
</script>