

<div class="col-md-12">
<%= link_to 'New Own Design Product', new_own_design_product_path , class: "btn btn-primary text-white mr-auto ml-lefts"%>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Size</th>
        <th scope="col">Color</th>
        <th scope="col">Price</th>
        <th scope="col">Check Detail</th>

      </tr>
    </thead>
    <tbody>
      <tr>
      <% @own_design_products.each do |own_design_product| %>

        <tr>
          <td><%= own_design_product.name %></td>
          <td><%= own_design_product.size %></td>
          <td><span>
          <i class="fas fa-circle" style="color:  <%= own_design_product.color %>"></i></span>
          </td>
          <td><%= own_design_product.price %></td>
          
          <td><%= link_to 'Detail', own_design_product %></td>
          <td><%= link_to 'Edit', edit_own_design_product_path(own_design_product) %></td>
          <td><%= link_to 'Destroy', own_design_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <%end%>
      
    </tbody>
  </table>
</div>


<style> 
        .ml-lefts{
          margin-left: 75%;
        }
</style>