<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @own_design_product.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @own_design_product.size %>
</p>

<p>

<strong> Available Color : </strong>
<span>
<i class="fas fa-circle" style="color:  <%= @own_design_product.color %>"></i></span>
<p>

<p>
  <strong>Price:</strong>
  <%= @own_design_product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @own_design_product.description %>
</p>

<p>
  <strong>Targetdate:</strong>
  <%= @own_design_product.targetdate %>
</p>



<% @own_design_product.images.each do |image| %>
  <%= image_tag (image) %>
<%end%>
<p>
  <strong>User:</strong>
  <%= @own_design_product.user %>
</p>

<% if @own_design_product.own_orders.present?%>
<%= @own_design_product.own_orders.pluck(:status)%>
<%else%>
  Please Wait Admin Status
<%end%>


<%= link_to 'Edit', edit_own_design_product_path(@own_design_product) %> |
<%= link_to 'Back', own_design_products_path %>
