<p id="notice"><%= notice %></p>

<p>
  <strong>Order date:</strong>
  <%= @order.order_date %>
</p>

    <%= @order.order_products.map{|it| it.product.name}%>

<p>
  <strong>Amount:</strong>
  <%= @order.amount %>
</p>

<p>
  <strong>Delivery address:</strong>
  <%= current_user.address %>
</p>

<%= link_to 'Back', orders_path %>
