


<%= image_tag @product.image, class: "product" %>

<div id="product-description">
  <% if @product.name %>
    <%= simple_format @product.name %>
  <% else %>
    <p><em>No Description</em></p>
  <% end %>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency @product.price %> 
    (<%= link_to "Add to Card", add_to_cart_path(@product.id) %>)
  </p>

  <p>
    <strong>Size:</strong>
    <%= @product.size %>
  </p>

  <p>
    <strong>Color: </strong>
    <span> <%= image_tag ("circle-solid.svg") %> </span>
    
    </p>

  <p> <%= link_to "Back to All Products", products_path %> </p>
</div>

<div style="clear:both;"></div>

